:root {
    --primary-color-400: #3c8067;
    --primary-color-700: #1a4031;

    --secondary-color-400: #f2ebe3;

    --neutral-color-0: #ffffff;

    --font-color-onPrimary-0: #ffffff;

    --font-color-onNeutral-400: #6c7289;
    --font-color-onNeutral-800: #1c232b;

    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-fraunces: 'Fraunces', serif;

    --font-size-100: 0.702rem;
    --font-size-300: 0.869rem;
    --font-size-400: 1rem;
    --font-size-800: 1.875rem;

    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

*,
*::before,
*::after {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
    align-items:      center;
    text-rendering:   optimizeSpeed;
    gap:              50px;
    min-height:       100vh;
    line-height:      1.3;
    font-family:      var(--font-family-montserrat);
    background-color: var(--secondary-color-400);
}

img,
picture {
    display:   block;
    max-width: 100%;
}

button {
    font: inherit;
}

.product-container {
    display:          flex;
    flex-direction:   column;
    justify-content:  center;
    align-items:      center;
    width:            345px;
    border-radius:    10px;
    background-color: var(--neutral-color-0);
}

.product-container__image {
    background:              url(images/image-product-mobile.jpg);
    background-position:     center;
    background-repeat:       no-repeat;
    background-size:         cover;
    width:                   345px;
    height:                  240px;
    margin-bottom:           30px;
    border-top-right-radius: 10px;
    border-top-left-radius:  10px;
}

.product-description-container {
    width:         290px;
    margin-bottom: 20px;
}

.product-description-container__product-type {
    display:        block;
    margin-bottom:  15px;
    letter-spacing: 6px;
    color:          var(--font-color-onNeutral-400);
    font-size:      var(--font-size-100);
    font-weight:    var(--font-weight-medium);
}

.product-description-container__product-title {
    display:        block;
    width:          275px;
    line-height:    1.1;
    margin-bottom:  15px;    
    letter-spacing: 0.4px;
    color:          var(--font-color-onNeutral-800);
    font-size:      var(--font-size-800);
    font-family:    var(--font-family-fraunces);
    font-weight:    var(--font-weight-bold);
}

.product-description-container__product-description {
    line-height: 1.7;
    color:       var(--font-color-onNeutral-400);
    font-size:   var(--font-size-300);
    font-weight: var(--font-weight-medium);
}

.product-price-container {
    display:               grid;
    align-items:           center;
    grid-template-columns: 1fr 1fr;
    width:                 290px;
    margin-bottom:         15px;
}

.product-price-container__current-price {
    color:       var(--primary-color-400);
    font-size:   var(--font-size-800);
    font-family: var(--font-family-fraunces);
    font-weight: var(--font-weight-bold);
}

.product-price-container__previous-price {
    text-decoration: line-through;
    color:           var(--font-color-onNeutral-400);
    font-size:       var(--font-size-300);
}

.btn {
    width:            290px;
    height:           50px;
    border-radius:    9px;
    margin-bottom:    20px;
    border:           none;
    cursor:           pointer;
    color:            var(--font-color-onPrimary-0);
    font-size:        var(--font-size-300);
    background-color: var(--primary-color-400);
    transition:       all 200ms linear;
}

.btn:hover {
    background-color: var(--primary-color-700);
}

.btn__name {
    font-weight: var(--font-weight-bold);
}

.fa-cart-shopping {
    margin-right: 10px;
}

@media screen and (min-height: 35rem) {
    .attribution {
        position: fixed;
        bottom: 1.5rem;
    }
}

@media screen and (min-width: 37.5rem) {
    .product-container {
        display:               grid;
        grid-template-columns: 1fr 1fr;
        width:                 600px;
        height:                450px;
    }

    .product-container__image {
        height:                    450px;
        width:                     300px;
        margin:                    0;
        border-top-right-radius:   0;
        border-bottom-left-radius: 10px;
        background:                url(images/image-product-desktop.jpg);
        background-size:           cover;
        background-repeat:         no-repeat;
        background-position:       center;
    }

    .product-container__contents {
        display:        flex;
        flex-direction: column;
        align-items:    center;
        padding-top:    25px;
    }

    .product-description-container, 
    .product-price-container, 
    .btn {
        width: 240px;
    }

    .product-description-container {
        margin-bottom: 25px;
    }

    .product-description-container__product-title {
        width: 190px;
    }

    .product-price-container {
        grid-template-columns: 1fr 90px;
        margin-bottom:         25px;
    }
}